body{

    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: aqua;
    background-size: 10cm;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 20px;
}